canvas {   
    width:70%;
    height:100%;
    background-color: #313975;
     outline: none;  
     position: fixed;             
}
html, body {
    margin:auto;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #313975;
    color:white;
    
}
.Labels
{
    margin-top: 0px;
    background-color: #17151f;
    font-size: 20px;                
    color:white;
    text-align: center;
    box-shadow: 0px px rgb(41, 40, 40);
    width: 70%;                
    padding: 5px;
    margin: 12px auto; 
    display:block;
    border-radius: 20px;
    
}
.login    {
    background-color: #292B3D;
    align-items: center;
 padding-bottom: 5%;               
}
.UI
{
    position: relative;
    width: 30%;
              float:right;
}
span {
    color: white;
}                      
input[type=text], input[type=password] {
    width: auto;                
    padding: 5px;
    width: 80%; 
    height: 60px;  
    font-size: x-large;                       
    margin: 0px auto;                
    display:block;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative;             
    border-radius: 10px;                
}
button {
    background-color: #0e415f;
    color: white;
    padding: 2% ;
    margin: 8px;
    width: 50px;
    height:  50px;
    position: relative;
    border: 1px solid darkgray;
    cursor: pointer;
    border-radius: 20%;              
                              
}  
input[type=submit] {
    background-color: #0e415f;
    color: white;
    padding: 2% ;
    margin: 8px;
    width: 50px;
    height:  50px;
    position: relative;
    border: 1px solid darkgray;
    cursor: pointer;
    border-radius: 20%;              
                              
}          
#Login1
{
    background-color: #0824F9;
    color: white;                
    margin: 8px 0;
    border: 1px solid rgb(167, 161, 255);
    cursor: pointer;
    width: 30%;   
    position: relative;
    left:40%;
    border-radius: 5px;
    text-align: center; line-height: 0px;
    
}
#Register1
{
    background-color: #1D2EAD;
    color: white;                
    margin: 8px 0;
    border: 1px solid rgb(167, 161, 255);
    cursor: pointer;
    width: 20%;   
    position: relative;
    left:40%;
    border-radius: 5px;
    text-align: center; line-height: 0px;
    
}
#GridView1
{
    background-color: rgba(65, 62, 62,0.3);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#0e73d1;    
    border-radius: 5px;
    border-color:black; 
    
    
}
#GridView1 a
{ 
       text-decoration: none;
       
}
th a
{
    color:#0e73d1;   
}
#GridView1 td, th
{
    padding: 10px;  
}
#UI1 h1
{
    text-align: center;
}
#UI1 input[type=submit]
{
    margin-bottom: 5%;
}
a.HyperLink1
{
    color:green;
    font-size: x-large;
}
a.HyperLink2
{
    font-size: x-large;
    color:red;
}
#Save
{
    background-color: #1D2EAD;
    color: white;                
    margin: 8px 0;
    border: 1px solid rgb(167, 161, 255);
    cursor: pointer;
    width: 50%;   
    position: relative;
    left:25%;
    border-radius: 5px;
    text-align: center; line-height: 0px;
    
}
.Model
{   
    text-align: center;               
    
}            
.Model button
{                   
    padding: 2% ;
    margin: 1%;
    width: 100px;
    height:   100px;                
    border-radius: 20%; 
    background-color:#292929;

}
.Gems
{
    text-align: center;  
}
.Gems button
{
    background-color:transparent;
    border:none;
}
.Metal 
{
    text-align: center;  
}
button:hover {
    opacity: 0.8;
}
h1{
    margin-top: 0px;
}
#LoginID1
{
    text-align: right;
    
}
#LoginID1 h1
{
    margin-bottom: 0px;
}
#LoginID1 a
{
    color: darkgray;
    font-size: 20px;
    
}
@media only screen and (max-width: 1024px) 
{
canvas
{
    width: 65%;
}
.UI
{
    width: 35%;
}
h1{
    font-size:large;
}
input[type=text], input[type=password] {
    height: 30px;

}
input[type=submit]{
    height: 30px;    
    font-size: xx-small;
    

}
#Register1
{
    width: 49%;    
    left:0%
}
#Login1
{    
    width:49%;
    left:0%   
}
}
