canvas {   
    width:70%;
    height:100%;
    background-color: #313975;
     outline: none;  
     position: fixed;             
}
html, body {
    margin:auto;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #DBE4EE;
    color:white;
    
}
.Labels
{
    margin-top: 0px;
    background-color: #3E7CB1;
    font-size: 20px;                
    color:white;
    text-align: center;
    box-shadow: 0px px rgb(41, 40, 40);
    width: 70%;                
    padding: 5px;
    margin: 12px auto; 
    display:block;
    border-radius: 10px;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
    
}
.login    {
    background-color: #3E7CB1;
    align-items: center;
    padding-bottom: 4%;  
    padding-top: 2%;
                 
}
.UI
{
    position: relative;
    width: 30%;
              float:right;
}
span {
    color: white;  
    
}                      
input[type=text], input[type=password] {
    padding: 5px;
    width: 80%; 
    height: 60px;  
    font-size: x-large;                       
    margin: 0px auto;                
    display:block;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative;             
    border-radius: 10px;  
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))              
}
button {
    
    color: white;
    padding: 2% ;
    margin: 8px;
    width: 50px;
    height:  50px;
    position: relative;
    border: 1px solid darkgray;
    cursor: pointer;
    border-radius: 20%;   
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))           
                              
}  
input[type=submit] {
    background-color: #F17300;
    color: white;
    padding: 2% ;
    margin: 8px;
    width: 50px;
    height:  50px;
    position: relative;
    border: 1px solid darkgray;
    cursor: pointer;
    border-radius: 20%;  
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))            
                              
}          
#Login1
{
    background-color: #F17300;
    color: white;                
    margin: 8px 0;
    border: 1px solid rgb(167, 161, 255);
    cursor: pointer;
    width: 30%;   
    position: relative;
    left:40%;
    border-radius: 5px;
    text-align: center; line-height: 0px;
    
}
#Register1
{
    background-color: #F17300;
    color: white;                
    margin: 8px 0;
    border: 1px solid rgb(167, 161, 255);
    cursor: pointer;
    width: 20%;   
    position: relative;
    left:40%;
    border-radius: 5px;
    text-align: center; line-height: 0px;
    
}
#GridView1,#GridView2,#GridView3,#GridView4
{
    background-color: rgba(5, 74,145,0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;        
    border-radius: 10px;
    overflow: hidden;
    border-color:rgba(40, 84, 122, 0.8);     
    box-shadow:  2px 3px 5px rgb(24, 23, 23);
    width: 60%;
    
}
#GridView1 a,#GridView2 a,#GridView3 a,#GridView4 a
{ 
       text-decoration: none;    
       
}
th a
{
    color:white;   
}
#GridView1 td, th,#GridView2 td,#GridView2 th,#GridView3 td,#GridView3 th,#GridView4 td,#GridView4 th
{
    padding: 10px; 
    
}
#UI1 h1
{
    text-align: center;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
}
#LoginName1
{
    color:#F17300;
}
a.HyperLink1
{
    color:rgb(40, 173, 0);
    font-size: x-large;    
    -webkit-text-stroke: medium;
    
}
a.HyperLink2
{
    font-size: x-large;
    color:red;
    -webkit-text-stroke: medium;
}
#Save
{
    background-color: #F17300;
    color: white;                
    margin: 8px 0;
    border: 1px solid rgb(167, 161, 255);
    cursor: pointer;
    width: 50%;   
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center; line-height: 0px;
    font-size: medium;
    
}
.Model
{   
    text-align: center;               
    
}            
.Model button
{                   
    padding: 2% ;
    margin: 1%;
    width: 100px;
    height:   100px;                
    border-radius: 20%; 
    background-color:#292929;    

}
.Gems
{
    text-align: center;      
    
}
.Metal 
{
    text-align: center;  
    
}
.Metal button
{
    border-radius: 0%;
}
button:hover {
    opacity: 0.8;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
}
#LoginID1
{
    text-align: right;
    margin-right: 12px;
    
}
#LoginID1 h1
{
    margin-bottom: 0px;
    
}
#Failure , #FailureSave
{
    
    display:table;
    margin:0 auto;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23));     
}

#LoginID1 a
{
    color: darkgray;
    font-size: 20px;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
    
}
.Rings{
    padding-top: 2%;
    padding-bottom: 2%;
}
.Adminlogin 
{
    background-color: #3E7CB1;   
    padding-bottom: 5%; 
}
.Adminlogin h1
{
    text-align: center;
}
.Adminlogin h3
{
    text-align: center;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
}
.Adminlogin input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    border-radius: 3%;
}
.Adminlogin span
{
    text-align: center;
    display: block;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
}
.Adminlogin select
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #DBE4EE;
    width: 20%;
    filter:drop-shadow(2px 3px 5px rgb(24, 23, 23))
}
@media only screen and (max-width: 1024px) 
{
.Model button{
    width: 80px;
    height:   80px;  
    
}
input[type=text]
{
    font-size: small;
}
#GridView1,#GridView2,#GridView3,#GridView4
{
    Padding: 3px;
    font-size: x-small;
}

canvas
{
    width: 65%;
}
.UI
{
    width: 35%;
}
#Save
{
    font-size: x-small;
    width: 60%;  
}
h1{
    font-size:large;
}
input[type=text], input[type=password] {
    height: 30px;

}
input[type=submit]{
    height: 30px;    
    font-size: xx-small;
    

}
#Register1
{
    width: 49%;    
    left:0%
}
#Login1
{    
    width:49%;
    left:0%   
}
}
